---


import About from '../components/About.astro'
import Navbar from '../components/Navbar.astro'
import ProfilePicture from '../components/ProfilePicture.astro'
import Proyect from '../components/Proyect.astro'
import Separator from '../components/Separator.astro'
import Tecnologies from '../components/Tecnologies.astro'
import Layout from '../layouts/Layout.astro'
---


<Layout title='Carlos velasco | portafolio'>
    <Navbar/>
    <main class="mt-16 scroll-mt-32 lg:mt-10 xxs:mt-4 w-screen">
        <ProfilePicture/>
        <Separator/>
        <div class="w-screen flex justify-center">

            <About/>
        </div>
        <Tecnologies/>
        <Proyect/>
    </main>


</Layout>
