---

---

<section
 class="mt-4 flex justify-evenly mb-8 scroll-mt-3 lg:w-[70%] lg:flex-row lg:px-10 sm:w-[60%] xs:w-full xs:flex-col-reverse xs:px-0  items-center" 
 id="about">


     <img
         src="../../public/img/programer.jpg"
         alt="#"
         class="object-cover mx-auto rounded-lg  lg:h-fit w-[300px] bg-slate-400 animate-sway  hover:animate-sway"
     />

    <div class="flex flex-col justify-center gap-y-3 text-center lg:w-[50%] lg:mx-0 md:mb-4 ">
        <h2 class="font-bold text-[20px]">Hellos I'm <span class="bg-clip-text text-transparent bg-gradient-to-r from-slate-400 from-30% via-blue-500 via-70% to-blue-400 xl:inline xs:block ">Carlos dev</span></h2>
        <p class="opacity-60 text-[17px]">
            <span>I am a Full stack developer, with the ability to work in a team and consolidate web projects with the best attitude</span>
            <span>With me you will get, in addition to good technical skills, a developer with great leadership skills, teamwork,</span>
            <span> solving and eager to help and learn from others. So that I can consolidate and expand my knowledge</span>
        </p>
    </div>
</section>

