---
import { proyects } from "../assets/data";
import ProyectCard from "./ProyectCard.astro";


---
<div class="scroll-mt-32 w-[75%] mx-auto mt-20 mb-10 items-center justify-center flex flex-col ">
    <h2 class="font-bold w-fit md:mx-0 md:ml-5 sm:text-3xl xs:text-3xl">
        Proyects
    </h2>

    <div class="grid mx-auto gap-6 xl:grid-cols-2 xl:w-4/5 lg:grid-cols-3 md:w-[85%] md:grid-cols-2 xs:grid-cols-1 xs:w-[90%] xl:justify-center  ">
        {
            proyects.map(card=>(
                <ProyectCard
                title={card.title},
                description={card.description},
                image={card.image},
                color={card.color},
                
                />
            ))
        }
    </div>

</div>