---

---
<div class="separator border-t-[1px] rounded-full animate-float hover:animate-float  lg:mt-3 md:mt-0 xxs:mt-0"></div>

<style>
    .separator{
        border-image-source: linear-gradient( to left, rgb(227,228,236),#f3f4f6,rgb(227,228,236));
        border-image-slice:1;
        background-image:radial-gradient(at top center,#fff,rgb(227,228,236)60%);
        height:4px;
        width:70%;
        margin-inline:auto;

    }
</style>