---
// Supports weights 100-900
import '@fontsource-variable/jost';
interface Props {
	title: string;
}
import '../assets/style.css'
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
	<!--Boxicons -->
	<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
	/>

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-black text-">
    <slot />
  </body>
</html>

<style is:global>
  html{
    font-family: 'Jost Variable', sans-serif;
  }
</style>
